
/* Estilos padrão para telas maiores */
body {
    font-family: Arial, sans-serif;
    background-color: #568ea3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

.login {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login p {
    font-size: 24px;
    color: #333;
}

.login h1 {
    font-size: 18px;
    margin-top: 20px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login h2 {
    font-size: 18px;
    margin-top: 20px;
}

.login input[type="password"] {
    margin-top: 10px;
}

.login input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #005ab4;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.cadastro {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0073e6;
    margin-top: 10px;
}

.cadastro:hover {
    color: #005ab4;
}

/* Estilos para telas menores (móveis) */
@media screen and (max-width: 768px) {
    .login {
        padding: 10px;
    }
    .login p {
        font-size: 20px;
    }
    .login h1 {
        font-size: 16px;
    }
    .login input, .login h2, .login input[type="password"] {
        font-size: 14px;
    }
    .login input[type="submit"] {
        font-size: 16px;
        padding: 8px 16px;
    }
}