<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <main>
        {% set mensagens = get_flashed_messeges %}
        {% if  mensagens %}
            <div>
                {% for msg in mensagens %}
                    {{msg}}
                {% endfor %}
            </div>>
        {% endif %}
        <form action="cadastrar" method="POST">
          <div class="login">
              <img src="../static/Logo.png" class="logo">
              <p>Cadastro</p>
              <h1>Nome</h1>
              <input type="text" name="nome">
              <h2>Sobre nome</h2>
              <input type="text" name="sobrenome">
              <h3>Email</h3>
              <input type="email" name="email">
              <h4>Senha</h4>
              <input type="password" name="senha">
              <input type="submit">
          </div>
        </form>
    </main>
</body>
</html>