<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/homepage.css')}}">
    <link rel="SHORTCUT ICON" href="{{url_for('static',filename='Logo.png')}}" type="image/png">
</head>
<body>

    <header class="hm_header">
        <img src="../static/Logo.png" class="logo">
        <p class="nome_site">Projeto Construção Civil</p>
        {% if username != None %}
            <p>Usuario: {{username}}</p>
            <form action="logout">
                <button type="submit">Sair</button>
            </form>
        {% else %}
        <a href="login" class="login">Fazer Login</a>
        {% endif %}
    </header>
    <main>
        <div class="container">
            <button class="arrow-left control" aria-label="Previous image">&#129092;</button>
            <button class="arrow-right control" aria-label="Next image">&#129094;</button>
            <section class="galeria">
                <div class="fotos">
                    <img src="{{ url_for('static', filename='img/foto1.jpg') }}" alt="construcao image1" class="imagem-carrosel current-item">
                    <img src="{{ url_for('static', filename='img/foto2.jpg') }}" alt="construcao image2" class="imagem-carrosel current-item">
                    <img src="{{ url_for('static', filename='img/foto3.jpg') }}" alt="construcao image3" class="imagem-carrosel current-item">
                </div>
            </section>
        </div>
    </main>
    <script src="{{url_for('static', filename='js/homepage.js')}}"></script>
</body>
</html>